@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.title{
  font-weight: bold;
}

.main-img{
  border-radius: 25px;
}

.wellcome-paragraph{
  padding: 0 20px;
}

.line{
  border-top: 2px solid $black;
}

.small-text{
  font-size: 13px;
}

.subscribe-link{
  color: $black;
}

.underline{
  text-decoration: underline;
  a{
    color: $black !important;
  }
}

@media only screen and (max-width: #{$global-breakpoint}) {
  .wellcome-paragraph{
    padding: 0;
  }
}