//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Noto+Sans:wght@400;700&display=swap');
// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}



//Custom
.radius{
  border-radius: $global-radius;
}
.content{ border-radius: 10px; border: 1px solid red; }

table.container.radius {
  border-radius:$global-radius;
  border-collapse: separate;
}

.dark-bg{
  background-color: $darker-gray;
}

.rounded-bottom{
  border-radius: 0 0 $global-radius $global-radius;
}

table.menu.header-menu {
  td,th{
    .menu-item a{
      color: $white;
      font-size: 13px;
      &:hover{
        color: $primary-color;
      }
    }
  }
}

.main__title{
  font-weight: 700;
  line-height: 1.20;
}

.main__model{
  color: $darker-gray;
  font-size: $small-font-size;
  margin-bottom: 0;
  font-weight: 500;
}

.main__paragraph{
  color: $darker-gray;
  font-size: $small-font-size;
  line-height: 1.4;
}

.big-padding-wrapper{
  background-image: url('https://raw.githubusercontent.com/alex-o-drag/emails/watch/src/assets/img/watch-bg.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;

  @media only screen and (max-width: #{$global-breakpoint}) {
    background-image: none !important;
  }

}

.list__title{
  font-size: $bigger-font-size;
  font-weight: 700;

  @media only screen and (max-width: #{$global-breakpoint}) {
    text-align: center !important;
  }
}

.list__item{
  @media only screen and (max-width: #{$global-breakpoint}) {
    .button{
      margin-right: auto !important;
      margin-left: auto !important;
    }
  }
}

.list__item-title{
  font-size: $medium-font-size;
  font-weight: 700;
  margin-bottom: 6px;
}

.list__all-link{
  text-align: right;
  @media only screen and (max-width: #{$global-breakpoint}) {
    text-align: center !important;
  }
}

.list__item-price{
  color: $darker-gray;
  font-size: $smaller-font-size;
  margin-bottom: 12px;
}

.list__item{
  
  @media only screen and (max-width: #{$global-breakpoint}) {
    img{
      margin: 0 auto !important;
    }
    .list__item-title,
    .list__item-price{
        text-align: center !important;
     }

     .button{
       margin: 0 auto;
     }

  }

  
}

table.menu.small-vertical{
  @media only screen and (max-width: #{$global-breakpoint}) {
    margin: 0 auto !important;
  }
}

.footer__title{
  font-size: $big-font-size;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer__paragraph{
  font-size: $smaller-font-size;
  color: $darker-gray;
  line-height: 1.7;
}

.footer__tel-link {
  color: $darker-gray;
  font-size: $smaller-font-size;
  font-weight: 600;
}

.footer__mail-link {
  font-size: $smaller-font-size;
}