@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Noto+Sans:wght@400;700&display=swap');
// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}



//Custom
.radius{
  border-radius: $global-radius;
}
.content{ border-radius: 10px; border: 1px solid red; }

table.container.radius {
  border-radius:$global-radius;
  border-collapse: separate;
}

.dark-bg{
  background-color: $dark-gray;
}

.rounded-bottom{
  border-radius: 0 0 $global-radius $global-radius;
}

table.menu.header-menu {
  td,th{
    .menu-item a{
      color: $white;
      font-size: 13px;
      &:hover{
        color: $primary-color;
      }
    }
  }
}

.main-title{
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  line-height: 1.15;
}

.big-padding-wrapper{
  background-image: url('/assets/img/watch-bg.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}